/* Variaves de esitlo para cores, fontes e outros elelmentos visuais*/
:root{
  --cor-primaria: #004ac6;
  --cor-segundaria: #dce9ff;
  --cor-primaria-escura: #0039a0;
  --backgroud-color: #f8f9ff;
  --backgroud-section-destaque: #eff4ff;
  --cor-texto: #434655;
  --cor-branco: #FFFFFF;


  --fonte-principal: 'Inter';

  --raio-borda: 10px; /* Raio da bora para botões e caixas  (border-radius)*/

}

/* Reset de estilos para garantir consitência entre navegadores*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base do documento */

body{
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
  background-color: var(--backgroudi-color);
  line-height: 1.6; /* Espaçamento entre linhas para melhor leitura*/
}

/* Utilitarios da Seção */

.secao{
  padding: 96px 0;  /* Espaçamento interno para melhor leitura*/
}

.secao-destaque{
  background-color: var(--backgroud-section-destaque);
}

.h2{
  font-size: 3rem; /* 48px */
  font-weight: 700;
  color: var(--cor-texto);
  margin-bottom: 16px;
}


